:root {
  --card-bg: linear-gradient(120deg, #ffaebc, hsl(350, 100%, 93%));
  --env-clr: #e5ffae;
  --brdr-radi: 0.5rem;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}

/* App container */
.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Confetti */
.confetti {
  width: 100%;
  height: inherit;
}

/* Overlay */
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.27);
}

/* Birthday card */
.bday-card {
  position: absolute;
  max-width: 570px;
  height: 300px;
  padding: 0.5rem 1.5rem;
  border-radius: var(--brdr-radi);
  background-image: var(--card-bg);
}
